*
{
	margin: 0;
	padding: 0;
}
.home-section
{
	background-image: url('./images/image1.webp');
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	width: 100%;
	background-attachment: fixed;
	background-position: center;

}
.home-section h2
{
	text-align: center;
	padding-top:200px ;
	font-family: 'Lobster', cursive;
	color: green;
	font-size: 48px;
}
.home-section h1
{
	text-align: center;
	margin-top: 20px;
	font-family: times neuroman;
	color:black;
	font-size: 48px;
}
.home-section button
{
	margin-top: 30px;
	margin-left: 48%;
}